body{
    height: 100%;
    width: 100%;    
    margin: 0;
    padding: 0;
    border: 0;
}

.container-mine {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.robot-info{
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    margin-top: 2%;
    align-self: flex-start;
}

canvas{
    border-radius: 2%
}

.buttons{
    display: grid;
    grid-template-columns: 50% 50%;
}

#left{
    display: flex;
    background: transparent;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#right{
    display: grid;
    grid-template-rows: 5% 55% 5% 25% 10%;
    align-items: center;
}

.joint-control{
    display: grid;
    align-self: flex-start;
    margin-top: 2%;
}

.joint{
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    align-items: center;
}

.label-info, .joint-label, .joint-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background: #f2f2f2;
    background: rgba(242, 242, 242, 1);

    border-radius: 10%;

    font-family: Verdana;
    font-size: 125%;

    color: #21697c;
    color: rgb(33, 105, 124);
    margin: 1%;
    margin-top: 5%;
}

.labels{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
    height: 50%;

    background: #f2f2f2;
    background: rgba(242, 242, 242, 1);

    border-radius: 10%;

    font-family: Verdana;
    font-size: 100%;

    color: #21697c;
    color: rgb(33, 105, 124);
}

.joint-label, .joint-data{
    display: flex;
    justify-content: center;
    font-size: 100%;
    height: 80%;
    margin: 5%;
}