<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ROS UR Web HMI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- stylescript -> robot_control -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/robot_control.css') }}">
        
        <!-- library -> js-cookie -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js" integrity="sha512-wT7uPE7tOP6w4o28u1DN775jYjHQApdBnib5Pho4RB0Pgd9y7eSkAV1BTqQydupYDB9GBhTcQQzyNMPMV3cAew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- library -> jquery.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
        <!-- library -> three.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            
        <!-- library -> collada loader.js -->
        <script src="https://static.robotwebtools.org/threejs/r89/ColladaLoader.js"></script>

        <!-- library -> stl loader.js -->
        <script src="https://static.robotwebtools.org/threejs/r89/STLLoader.js"></script>

        <!-- library -> eventemitter2.js -->
        <script src="https://static.robotwebtools.org/EventEmitter2/0.4.14/eventemitter2.min.js"></script>

        <!-- library -> roslib.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/roslibjs/1.1.0/roslib.min.js" integrity="sha512-x2Owc9WayRcRj80Znkau58shVfXN2OIX+gQAlrx6KPugZBKrIC6AwgEWQQCI06p2Q8RB4ilxD+y+1BdNd+1fQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- library -> ros3D - digital twin -->
        <script src="https://static.robotwebtools.org/ros3djs/current/ros3d.min.js"></script>

        <!-- styles library -> bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <!-- library -> bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- main div -->
        <div class="container-mine">
            <!-- digital twin -->
            <div class="column" id="left">
                <div id="urdf"></div>
            </div>
            
            <!-- control panel -->
            <div class="column" id="right">
                <div class="label-info">
                    Joint Control Panel
                </div>
                
                <!-- control inputs -->
                <div class="joint-control">
                    <!-- for each joint one div with label, button left, slider, button right, data -->
                    <div class="joint" id="base">
                        <div class="joint-label">Joint 1</div>
                        <button id="base" type="button" class="left btn btn-primary btn-lg"><</button>
                        <input id="base" type="range" class="form-range" min="-360" max="360" step="1">
                        <button id="base" type="button" class="right btn btn-primary btn-lg">></button>
                        <div id="base" class="joint-data">data</div>
                    </div>

                    <div class="joint" id="shoulder">
                        <div class="joint-label">Joint 2</div>
                        <button id="shoulder" type="button" class="left btn btn-primary btn-lg"><</button>
                        <input id="shoulder" type="range" class="form-range" min="-360" max="360" step="1">
                        <button id="shoulder" type="button" class="right btn btn-primary btn-lg">></button>
                        <div id="shoulder" class="joint-data">data</div>
                    </div>
                    
                    <div class="joint" id="elbow">
                        <div class="joint-label">Joint 3</div>
                        <button id="elbow" type="button" class="left btn btn-primary btn-lg"><</button>
                        <input id="elbow" type="range" class="form-range" min="-360" max="360" step="1">
                        <button id="elbow" type="button" class="right btn btn-primary btn-lg">></button>
                        <div id="elbow" class="joint-data">data</div>
                    </div>
                    
                    <div class="joint" id="wrist_1">
                        <div class="joint-label">Joint 4</div>
                        <button id="wrist_1" type="button" class="left btn btn-primary btn-lg"><</button>
                        <input id="wrist_1" type="range" class="form-range" min="-360" max="360" step="1">
                        <button id="wrist_1" type="button" class="right btn btn-primary btn-lg">></button>
                        <div id="wrist_1" class="joint-data">data</div>
                    </div>
                    
                    <div class="joint" id="wrist_2">
                        <div class="joint-label">Joint 5</div>
                        <button id="wrist_2" type="button" class="left btn btn-primary btn-lg"><</button>
                        <input id="wrist_2" type="range" class="form-range" min="-360" max="360" step="1">
                        <button id="wrist_2" type="button" class="right btn btn-primary btn-lg">></button>
                        <div id="wrist_2" class="joint-data">data</div>
                    </div>
                    
                    <div class="joint" id="wrist_3">
                        <div class="joint-label">Joint 6</div>
                        <button id="wrist_3" type="button" class="left btn btn-primary btn-lg"><</button>
                        <input id="wrist_3" type="range" class="form-range" min="-360" max="360" step="1">
                        <button id="wrist_3" type="button" class="right btn btn-primary btn-lg">></button>
                        <div id="wrist_3" class="joint-data">data</div>
                    </div>
                </div>
                
                <!-- basic robot info -->
                <div class="label-info">
                    Robot Info
                </div>
                <div class="robot-info">
                    <div class="tcp-labels">
                        <div class="labels">X</div>
                        <div class="labels">Y</div>
                        <div class="labels">Z</div>
                    </div>

                    <div class="tcp-labels">
                        <div id="X" class="labels">None</div>
                        <div id="Y" class="labels">None</div>
                        <div id="Z" class="labels">None</div>
                    </div>
   
                    <div class="tcp-labels">
                        <div class="labels">RX</div>
                        <div class="labels">RY</div>
                        <div class="labels">RZ</div>
                    </div>

                    <div class="tcp-labels">
                        <div id="RX" class="labels">None</div>
                        <div id="RY" class="labels">None</div>
                        <div id="RZ" class="labels">None</div>
                    </div>
                </div>
                
                <!-- Disconnect + Run buttons -->
                <div class="buttons">
                    <button id="btn_home" type="button" class="btn btn-primary btn-lg">Disconnect</button>
                    <button id="btn_run" type="button" class="btn btn-primary btn-lg">Move</button>
                </div>
            </div>
        </div>
    </body>

    <!-- stylescript -> custom_bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_bootstrap.css') }}">

    <!-- script -> robot_control -->
    <script type="module" src="{{ url_for('static', filename = 'js/robot_control.js') }}"></script>
</html>